"# Python"                "__pycache__/"           "*.pyc"                  "*.pyo"                  "*.pyd"                  ""                       "# Data & models"        "data/raw/*"             "data/processed/*"       "models/*"               "*.csv"                  "*.zip"                  "*.pt"                   "*.json"                
